<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FinApp</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
</head>
<body class="container">
<h1 class="py-5">Enter Financial Debits</h1>
<form method="post" th:action="@{/debit/}" th:object="${debit}" class="col card p-3 mb-5">
    <div class="form-group">
        <label for="date">Date</label>
        <input id="date" required type="date" th:field="*{date}"
               class="form-control"/>
    </div>
    <div class="form-group">
        <label for="company">Company</label>
        <input id="company" placeholder="Enter Company Name" required type="text" th:field="*{company}"
               class="form-control"/>
    </div>
    <div class="form-group">
        <label for="amount">Amount</label>
        <input id="amount" placeholder="Enter an Amount" required type="number" th:field="*{amount}"
               class="form-control"/>
    </div>
    <div class="form-group">
        <label for="category">Type</label>
        <select id="category" required th:field="*{type}" class="form-control ">
            <option value="" hidden>Select a Type</option>
            <option th:each="type : ${T(com.Finance.FinApp.models.debit.Type).values()}"
                    th:value="${type}"
                    th:text="${type}">
            </option>
        </select>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit Debit">
</form>
<table class="table table-striped table-bordered">
    <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Company</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>
    <tr th:if="${#lists.isEmpty(debits)}">
        <td colspan="5">No Records found. Add some...!</td>
    </tr>
    <tr th:each="debit : ${debits}">
        <td th:text="${debit.id}"></td>
        <td th:text="${debit.date}"></td>
        <td th:text="${debit.company}"></td>
        <td th:text="${debit.amount}"></td>
        <td th:text="${debit.type}"></td>
        <td> <a th:href="@{/debit/update/{id}(id=${debit.id})}" class="btn btn-primary">Update</a>
            <a th:href="@{/debit/delete/{id}(id=${debit.id})}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
 </table>
</body>
</html>